.navBar {
  border-bottom: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 40px;
}

.navBar__logo {
  height: 30px;
}

.navBar__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar__items ul li {
  list-style: none;
  margin-left: 73px;
  cursor: pointer;
}

.navBar__items ul li:hover {
  list-style: disc;
}

.banner {
  text-align: center;
  padding-bottom: 50%;
  width: 95%;
  margin: auto;
  position: relative;
}

@media (max-width: 1200px) {
  .banner {
    padding-bottom: 100%;
    width: 90%;
  }
}

.banner__wrapper {
  position: absolute;
  height: 100%;
  white-space: nowrap;
}

.banner__button {
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .banner__button {
    display: none;
  }
}

.banner__img {
  width: 100%;
  margin: 18px auto 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__img-1 {
  -webkit-mask-image: url("../assets/image/banner/mask1.png");
          mask-image: url("../assets/image/banner/mask1.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
  background-image: url("../assets/image/Banner/banner1.png");
}

@media (max-width: 1200px) {
  .banner__img-1 {
    -webkit-mask-image: url("../assets/image/mobile-banner/mask1.png");
            mask-image: url("../assets/image/mobile-banner/mask1.png");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
    -webkit-mask-position: center;
            mask-position: center;
  }
}

.banner__img-2 {
  -webkit-mask-image: url("../assets/image/banner/mask2.png");
          mask-image: url("../assets/image/banner/mask2.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
  background-image: url("../assets/image/Banner/banner2.png");
}

@media (max-width: 1200px) {
  .banner__img-2 {
    -webkit-mask-image: url("../assets/image/mobile-banner/mask2.png");
            mask-image: url("../assets/image/mobile-banner/mask2.png");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
    -webkit-mask-position: center;
            mask-position: center;
  }
}

.banner__img-3 {
  -webkit-mask-image: url("../assets/image/banner/mask3.png");
          mask-image: url("../assets/image/banner/mask3.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
  background-image: url("../assets/image/Banner/banner3.png");
}

@media (max-width: 1200px) {
  .banner__img-3 {
    -webkit-mask-image: url("../assets/image/mobile-banner/mask3.png");
            mask-image: url("../assets/image/mobile-banner/mask3.png");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
    -webkit-mask-position: center;
            mask-position: center;
  }
}

.banner__doodle {
  position: absolute;
  z-index: 100;
}

.banner__doodle-smile {
  top: 76px;
  right: 15%;
  width: 15%;
  max-width: 128px;
}

.banner__doodle-sign {
  top: 65%;
  left: 12%;
  width: 40%;
  max-width: 540px;
}

@media (max-width: 1200px) {
  .banner__doodle-sign {
    top: 30%;
  }
}

.productSlider {
  max-width: 1400px;
  margin: auto;
  width: 95%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .productSlider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.productSlider__title {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.productSlider__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 100%;
  position: relative;
}

@media (max-width: 1200px) {
  .productSlider__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    height: 0;
    padding-bottom: 180%;
  }
}

.productSlider__item {
  position: absolute;
  z-index: 100;
}

.productSlider__item:nth-of-type(1) {
  right: 120px;
  top: 120px;
  width: 80%;
}

.productSlider__item:nth-of-type(1) img {
  width: 100%;
  -webkit-mask-image: url("../assets/image/Seasonal Item/mask1.png");
          mask-image: url("../assets/image/Seasonal Item/mask1.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

.productSlider__item:nth-of-type(2) {
  right: 600px;
  top: 480px;
  width: 50%;
}

.productSlider__item:nth-of-type(2) img {
  width: 100%;
  -webkit-mask-image: url("../assets/image/Seasonal Item/mask2.png");
          mask-image: url("../assets/image/Seasonal Item/mask2.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

.productSlider__item:nth-of-type(3) {
  right: 120px;
  top: 650px;
  width: 50%;
}

.productSlider__item:nth-of-type(3) img {
  width: 100%;
  -webkit-mask-image: url("../assets/image/Seasonal Item/mask3.png");
          mask-image: url("../assets/image/Seasonal Item/mask3.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

@media (max-width: 1200px) {
  .productSlider__item:nth-of-type(1) {
    right: 30px;
    top: 0%;
    width: 50%;
  }
  .productSlider__item:nth-of-type(1) img {
    width: 100%;
    -webkit-mask-image: url("../assets/image/Seasonal Item/mask1.png");
            mask-image: url("../assets/image/Seasonal Item/mask1.png");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
    -webkit-mask-position: center;
            mask-position: center;
  }
  .productSlider__item:nth-of-type(2) {
    left: -1px;
    top: 30%;
    width: 30%;
  }
  .productSlider__item:nth-of-type(2) img {
    width: 100%;
    -webkit-mask-image: url("../assets/image/Seasonal Item/mask2.png");
            mask-image: url("../assets/image/Seasonal Item/mask2.png");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
    -webkit-mask-position: center;
            mask-position: center;
  }
  .productSlider__item:nth-of-type(3) {
    right: 30px;
    top: 60%;
    width: 30%;
  }
  .productSlider__item:nth-of-type(3) img {
    width: 100%;
    -webkit-mask-image: url("../assets/image/Seasonal Item/mask3.png");
            mask-image: url("../assets/image/Seasonal Item/mask3.png");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
    -webkit-mask-position: center;
            mask-position: center;
  }
}

.productSlider__doodle {
  position: absolute;
  z-index: 100;
}

.productSlider__doodle-line1 {
  right: 0;
  top: 150px;
}

@media (max-width: 1200px) {
  .productSlider__doodle-line1 {
    top: -180px;
    right: 50px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.productSlider__doodle-line2 {
  left: -360px;
  bottom: 10%;
}

@media (max-width: 1200px) {
  .productSlider__doodle-line2 {
    bottom: 0px;
    left: 5%;
    width: 30%;
  }
}

.marquee {
  height: 1500px;
  background-image: url("../assets/image/Full Screen/b-2.png");
}

@media (max-width: 1200px) {
  .marquee {
    height: 360px;
    background-size: cover;
  }
}

.marquee h1 {
  white-space: nowrap;
  padding-top: 32px;
  position: relative;
}

@media (max-width: 1200px) {
  .marquee h1 {
    padding-top: 20px;
  }
  .marquee h1 img {
    width: 120px;
    vertical-align: bottom;
  }
}

.collections {
  max-width: 1400px;
  margin: auto;
  width: 60%;
  margin: 290px auto 0;
  position: relative;
  height: 0;
  padding-bottom: 50%;
}

@media (max-width: 1200px) {
  .collections {
    width: 80%;
    max-width: 500px;
    margin: 200px auto 0;
    padding-bottom: calc(min(80% , 500px) + 180px + 100px);
    max-width: 500px;
  }
}

.collections__intro {
  position: absolute;
  bottom: 16px;
  margin-left: 15px;
}

.collections__introContainer {
  overflow: hidden;
  height: 200px;
}

@media (max-width: 1200px) {
  .collections__introContainer {
    height: 140px;
  }
  .collections__introContainer h4 {
    margin-top: 10px;
  }
}

.collections__mainImg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.collections__mainImg-1 {
  background-image: url("../assets/image/Swiper/Swiper1.png");
}

.collections__mainImg-2 {
  background-image: url("../assets/image/Swiper/Swiper2.png");
}

.collections__mainImg-3 {
  background-image: url("../assets/image/Swiper/Swiper3.png");
}

.collections__mainImg-4 {
  background-image: url("../assets/image/Swiper/Swiper4.png");
}

.collections__mainImg-5 {
  background-image: url("../assets/image/Swiper/Swiper5.png");
}

.collections__mainImg-6 {
  background-image: url("../assets/image/Swiper/Swiper6.png");
}

.collections__content {
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  padding: 0 40px 50%;
  height: 0;
  left: 5%;
  z-index: 100;
  width: 100%;
  top: 220px;
}

@media (max-width: 1200px) {
  .collections__content {
    border-radius: 20px;
    left: 0;
    padding: 0 0 100% 0;
    width: 90%;
    top: 180px;
  }
}

.collections__mask {
  position: relative;
  padding-bottom: 50%;
  left: -100px;
  z-index: 200;
  -webkit-mask-image: url("../assets/image/Swiper/mask.png");
          mask-image: url("../assets/image/Swiper/mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

@media (max-width: 1200px) {
  .collections__mask {
    left: 0;
    padding-bottom: 100%;
  }
}

.collections__wrapper {
  position: absolute;
  height: 100%;
}

.collections__button {
  width: 160px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  border: 1px solid #FFFFFF;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 1200px) {
  .collections__button {
    width: 80px;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: auto;
    bottom: 35%;
  }
}

.collections__button:not(.disable) {
  background-color: #FFFFFF;
}

.collections__button:not(.disable) span {
  color: #000000;
}

.collections__button:not(.disable):hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.collections__button-next {
  right: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.collections__button-prev {
  right: -162px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .collections__button-prev {
    right: -80px;
  }
}

.collections__doodle {
  position: absolute;
  z-index: 100;
}

.collections__doodle-line {
  top: -180px;
  right: -10%;
  width: 20%;
  max-width: 200px;
}

@media (max-width: 1200px) {
  .collections__doodle-line {
    right: 0;
    width: 100%;
  }
}

.collections__doodle-earth {
  margin-top: 10%;
  left: -200px;
  width: 20%;
  max-width: 150px;
}

@media (max-width: 1200px) {
  .collections__doodle-earth {
    left: 0;
    width: 70px;
    max-width: 70px;
    bottom: 0;
  }
}

.collections__doodle-ball {
  top: -150px;
  right: -5%;
}

@media (max-width: 1200px) {
  .collections__doodle-ball {
    right: 0;
  }
}

.modelBlock {
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1200px) {
  .modelBlock {
    height: 600px;
  }
}

.modelBlock__doodle-stone {
  position: absolute;
}

.modelBlock__doodle-stone:nth-child(1) {
  right: 15%;
  top: 10%;
  width: 50px;
}

.modelBlock__doodle-stone:nth-child(2) {
  right: 15%;
  top: 80%;
  width: 70px;
}

.modelBlock__doodle-stone:nth-child(3) {
  right: 80%;
  top: 20%;
  width: 60px;
}

.modelBlock__3Dmodel {
  position: absolute;
  z-index: 100;
}

.modelBlock__3Dmodel img {
  width: 500px;
}

.modelBlock h1 {
  white-space: nowrap;
}

.modelBlock__logo {
  position: absolute;
  width: 90%;
  z-index: 200;
}

.footer {
  border-top: 1px solid #FFFFFF;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 40px;
}

.footer__logo {
  height: 30px;
}

@media (max-width: 1200px) {
  .footer__logo {
    height: 20px;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 12px 14px;
  }
}
