.navBar {
  border-bottom: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 40px;
}

.navBar__logo {
  height: 30px;
}

.navBar__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar__items ul li {
  list-style: none;
  margin-left: 73px;
  cursor: pointer;
}

.navBar__items ul li:hover {
  list-style: disc;
}

.slider {
  text-align: center;
  height: 50vw;
  max-height: 700px;
  width: 95%;
  margin: auto;
}

.slider__img {
  max-width: 1200px;
  width: 100%;
  margin: 18px auto 0;
  height: 100%;
  -webkit-mask-image: url("../assets/image/banner/mask1.png");
          mask-image: url("../assets/image/banner/mask1.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
  background-image: url("../assets/image/Banner/banner1.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.productSlider {
  width: 95%;
  margin: 70px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productSlider__title {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.productSlider__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1054px;
  position: relative;
}

.productSlider__item {
  position: absolute;
}

.productSlider__item:nth-child(1) {
  right: 80px;
}

.productSlider__item:nth-child(1) img {
  width: 375px;
  -webkit-mask-image: url("../assets/image/Seasonal Item/mask1.png");
          mask-image: url("../assets/image/Seasonal Item/mask1.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

.productSlider__item:nth-child(2) {
  right: 600px;
  top: 380px;
}

.productSlider__item:nth-child(2) img {
  width: 260px;
  -webkit-mask-image: url("../assets/image/Seasonal Item/mask2.png");
          mask-image: url("../assets/image/Seasonal Item/mask2.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

.productSlider__item:nth-child(3) {
  right: 80px;
  top: 650px;
}

.productSlider__item:nth-child(3) img {
  width: 220px;
  -webkit-mask-image: url("../assets/image/Seasonal Item/mask3.png");
          mask-image: url("../assets/image/Seasonal Item/mask3.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

.marquee {
  height: 780px;
  background-image: url("../assets/image/Full Screen/b-2.png");
}

.marquee h1 {
  white-space: nowrap;
  padding-top: 32px;
  position: relative;
  left: -600px;
}

.collections {
  margin-top: 150px;
  height: 760px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collections__container {
  position: relative;
}

.collections__mainImg {
  position: absolute;
  left: -100px;
  top: 0px;
  width: 100%;
  max-width: 780px;
  height: 495px;
  background-image: url("../assets/image/Swiper/Swiper1.png");
  background-position: center;
  background-size: 100%;
  -webkit-mask-image: url("../assets/image/Swiper/mask.png");
          mask-image: url("../assets/image/Swiper/mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

.collections__content {
  position: relative;
  left: 50px;
  top: 100px;
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid #FFFFFF;
  width: 100%;
  max-width: 800px;
  height: 550px;
  border-radius: 40px;
}

.collections__button {
  width: 160px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 130px;
  border: 1px solid #FFFFFF;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.collections__button:not(.disable) {
  background-color: #FFFFFF;
}

.collections__button:not(.disable) span {
  color: #000000;
}

.collections__button:not(.disable):hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.collections__button-next {
  right: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.collections__button-prev {
  right: -162px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modalBlock {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalBlock__3Dmodal {
  position: absolute;
}

.modalBlock__3Dmodal img {
  width: 500px;
}

.modalBlock h1 {
  white-space: nowrap;
}

.footer {
  border-top: 1px solid #FFFFFF;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 40px;
}

.footer__logo {
  height: 30px;
}
