@import "./template" , "./variable";


*{
    margin:0;
    padding:0;
}

body{
    background-image: url("../assets/image/Background/bg.png");
    background-repeat: repeat;
    background-color: $black;
    overflow-x: hidden;
}

h1{
    font-family: "Cormorant";
    font-weight: 300;
    @include fontSize(120px, 120px);
    @include mobile {
        @include fontSize(44px, 44px);
    }
}

h2{
    font-family: "Oswald";
    font-weight: 600;
    @include fontSize(110px, 110px);
    @include mobile {
        @include fontSize(40px, 40px);
    }
}

h3{
    font-family: "Oswald";
    @include fontSize(60px, 90px);
    @include mobile {
        @include fontSize(40px, 60px);
    }
}

h4{
    font-family: "Cormorant";
    @include fontSize(78px, 90px);
    @include mobile {
        @include fontSize(32px, 38px);
    }
}

.font-body1{
    font-family: "Helvetica";
    font-weight: 500;
    @include fontSize(20px, 36px);
    @include mobile {
        @include fontSize(18px, 27px);
    }
}

.font-body2{
    font-family: "Cormorant";
    text-decoration: underline;
    @include fontSize(18px, 27px);
    @include mobile {
        @include fontSize(16px, 24px);
    }
}

.font-utility{
    font-family: "Helvetica";
    font-weight: 500;
    text-decoration: underline;
    @include fontSize(20px, 36px);
    @include mobile {
        @include fontSize(12px, 18px);
    }
}