@import "./template" , "./variable";


*{
    margin:0;
    padding:0;
}

html{
    overflow-x: hidden;
}

body{
    background-image: url("../assets/image/Background/bg.png");
    background-repeat: repeat;
    background-color: $black;
    overflow-x: hidden;
}

h1{
    font-family: "Cormorant";
    font-weight: 300;
    @include fontSize(120px, 120px);
    @include mobile {
        @include fontSize(44px, 44px);
    }
}

h2{
    font-family: "Oswald";
    font-weight: 600;
    @include fontSize(110px, 110px);
    @include mobile {
        @include fontSize(40px, 40px);
    }
}

h3{
    font-family: "Oswald";
    @include fontSize(60px, 90px);
    @include mobile {
        @include fontSize(40px, 60px);
    }
}

h4{
    font-family: "Cormorant";
    @include fontSize(78px, 90px);
    @include mobile {
        @include fontSize(32px, 38px);
    }
}

.font-body1{
    font-family: "Helvetica";
    font-weight: 500;
    @include fontSize(20px, 36px);
    @include mobile {
        @include fontSize(18px, 27px);
    }
}

.font-body2{
    font-family: "Cormorant";
    text-decoration: underline;
    @include fontSize(18px, 27px);
    @include mobile {
        @include fontSize(16px, 24px);
    }
}

.font-utility{
    font-family: "Helvetica";
    font-weight: 500;
    @include fontSize(20px, 36px);
    @include mobile {
        @include fontSize(12px, 18px);
    }
}

button{
    background-color: transparent;
    border: none;
    background-image: url("../assets/button-outLine.png");
    background-position: center center;
    background-size: 100% 100%;
    width: 200px;
    height: 90px;
    vertical-align: super;
    cursor: pointer;
    white-space: nowrap;

    @include mobile{
        margin-top: 16px;
        width: 120px;
        height:56px;
    }

    .content{
        display: block;
        overflow: hidden;

        span{
            display: inline-block;
            position: relative;
    
            &:after{
                content:attr(data-text);
                position: absolute;
                left: 100%;
                padding: 0 20px;
            }
        }
    }  
    
    &:hover{
        .content{
            span{
                animation: marquee 2s linear infinite;

                @include mobile{
                    animation: none;
                }
            }
        }
    }
}

@keyframes marquee{

    0% {
        transform: translate3d(0%,0,0)
    }

    100% {
        transform: translate3d(-112%,0,0)
    }

}

.doodle{
    &-rotate3D{
        animation: rotating3D 10s linear infinite;
    }

    &-rotate{
        animation: rotating 10s linear infinite;
    }
    &-paint{
        path{
            stroke-dasharray: 800;
            stroke-dashoffset: 800;
        }
    }
}

@keyframes rotating3D {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.mobile{
    display: none;
}

@include mobile {
    .mobile{
        display: block;
        
    }
    .desktop{
        display: none;
    }
}




