@import "./template" , "./variable";

.navBar{
    border-bottom: 1px solid $white;
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;

    &__logo{
        height: 30px;
    }
    &__items{
        ul{
           display: flex;

           li{
               list-style: none;
               margin-left: 73px;
               cursor: pointer;

               &:hover{
                   list-style: disc;
               }
           }
        }
    }
}

.banner{
    text-align: center;
    padding-bottom: 50%;
    width: 95%;
    margin: auto;
    position: relative;

    @include mobile {
        padding-bottom: 100%;
        width: 90%;
    }

    &__wrapper{
        position: absolute;
        height:100%;
        white-space: nowrap;
    }

    &__button{
        color:$white;

        @include mobile {
            display: none;
        }
    }


    &__img{
        width:100%;
        margin: 18px auto 0;
        height:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @mixin bannerStyle($index) {
            &-#{$index}{
                @include mask($index , "banner");
                background-image: url("../assets/image/Banner/banner"+$index+".png");

                @include mobile{
                    @include mask($index , "mobile-banner");
                }
            }
        }

        @include bannerStyle(1);
        @include bannerStyle(2);
        @include bannerStyle(3);

    }

    &__doodle{
        position: absolute;
        z-index: 100;

        &-smile{
            top: 76px;
            right: 15%;
            width: 15%;
            max-width: 128px;
        }

        &-sign{
            top:65%;
            left:12%;
            width: 40%;
            max-width: 540px;

            @include mobile{
                top:30%;
            }
        }
    }
}

.productSlider{
    @include MaxLimit;
    width: 95%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;

    @include mobile{
        flex-direction: column;
        width: 90%;
    }

    &__title{
        flex: 1.5;
    }

    &__items{
        flex: 1;
        height: 1054px;
        position: relative;

        @include mobile{
            flex: 0 0 auto;
            height: 0;
            padding-bottom: 180%;
        }
        
    }
    &__item{
        position: absolute;
        z-index: 100;

        @mixin itemsStyle($index , $right , $top , $IsBig:false) {
            &:nth-of-type(#{$index}){
                @if $right > 0{
                    right:$right;
                }@else{
                    left:$right;
                }

                top:$top;
                
                @if $IsBig{
                    width: 50%;
                }@else{
                    width: 30%;
                }
                
                img{
                    width: 100%;
                    @include mask($index , "Seasonal Item")
                }
            }
        }

        @include itemsStyle(1 , 120px , 120px , $IsBig: true);
        @include itemsStyle(2 , 600px , 480px);
        @include itemsStyle(3 , 120px , 650px);

        @include mobile{

            @include itemsStyle(1 , 30px , 0% , $IsBig: true);
            @include itemsStyle(2 , -1px , 30%);
            @include itemsStyle(3 , 30px , 60%);
        }
    }

    &__doodle{
        position: absolute;
        z-index: 100;

        &-line1{
            right: 0;
            top: 150px;

            @include mobile{
                top:-180px;
                right:50px;
                transform: scale(0.4);
            }
        }

        &-line2{
            left: -200px;
            bottom: 100px;

            @include mobile{
                bottom: 0px;
                left: 5%;
                width: 30%;
            }
        }
    }
}

.marquee{
    height: 1500px;
    background-image: url("../assets/image/Full Screen/b-2.png");

    @include mobile{
        height: 360px;
        background-size: cover;
    }

    h1{
        white-space:nowrap;
        padding-top: 32px;
        position: relative;

        @include mobile{
            padding-top: 20px;

            img{
                width: 120px;
                vertical-align: bottom;
            }
        }        
    }
}

.collections{
    @include MaxLimit;
    width: 60%;
    margin: 290px auto 0 ;
    position: relative;
    height: 700px;

    @include mobile{
        width: 80%;
        margin: 200px auto 0 ;
    }

    &__intro{
        position: absolute;
        bottom:16px;
    }

    &__introContainer{
        overflow: hidden;
        height: 200px;

        @include mobile{
            height: 140px;

            h4{
                margin-top: 10px;
            }
        }
    }

    &__mainImg{
        
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;

        @mixin collectionStyle($index) {
            &-#{$index}{
                background-image: url("../assets/image/Swiper/Swiper"+$index+".png");
            }
        }

        @include collectionStyle(1);
        @include collectionStyle(2);
        @include collectionStyle(3);
        @include collectionStyle(4);
        @include collectionStyle(5);
        @include collectionStyle(6);
        
    }


    &__content{

        position: absolute;
        border:1px solid $white;
        border-radius: 40px;
        padding: 0 40px 50%;
        height: 0;
        left: 5%;
        z-index: 100;
        width: 100%;
        top: 33%;

        @include mobile{
            border-radius: 20px;
            left: 0;
            padding: 0 15px 100%;
            width: 80%;
            top: 25%;
        }
        
    }

    &__mask{
        position: relative;
        padding-bottom: 50%;
        left: -100px;
        z-index: 200;
        @include mask("" , "Swiper"); 

        @include mobile{
            left: 0;
            padding-bottom:100%;
        }
    }

    &__wrapper{
        position: absolute;
        height:100%;
    }

    &__button{
        width: 160px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20%;
        border:1px solid $white;
        border-top:none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        @include mobile{
            width: 80px;
            height: 35px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            top: auto;
            bottom: 35%;
        }
        

        &:not(.disable){

            background-color: $white;
            span{
                color:$black;
            }

            &:hover{
                background-color: rgba(255,255,255,0.9);
                cursor: pointer;
            }
        }

        &-next{
            right: 0;
            transform-origin: right top;
            transform: rotate(-90deg);
            
        }

        &-prev{
            right: -162px;
            transform-origin: left top;
            transform: rotate(90deg);

            @include mobile{
                right: -80px;
            }
        }
    }

    &__doodle{
        position: absolute;
        z-index: 100;

        &-line{
            top: -180px;
            right: -10%;
            width: 20%;
            max-width: 200px;

            @include mobile{
                right: 0;
                width: 100%;
            }
        }

        &-earth{
            top:75%;
            left: -150px;
            width: 20%;
            max-width: 150px;

            @include mobile{
                left: 0;
                width: 40%;
            }
        }

        &-ball{
            top: -150px;
            right: -5%;

            @include mobile{
                right: 0;
            }
        }
    }
}

.modalBlock{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    @include mobile{
        height: 500px
    }

    &__doodle{
        &-stone{
            position: absolute;

            @mixin stoneStyle($index , $right , $top , $width) {
                &:nth-child(#{$index}){
                    right:$right;
                    top:$top;
                    width: $width;
                }
            }
    
            @include stoneStyle(1 , 15% , 10% , 50px);
            @include stoneStyle(2 , 15% , 80% , 70px);
            @include stoneStyle(3 , 80% , 20% , 60px);
            
        }
    }

    &__3Dmodal{
        position: absolute;
        z-index: 100;

        img{
            width: 500px;
        }
    }

    h1{
        white-space:nowrap;
    }

    &__logo{
        position: absolute;
        width: 90%;
        z-index: 200;
    }
}

.footer{
    border-top: 1px solid $white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;

    &__logo{
        height: 30px;

        @include mobile{
            height: 20px;
        }
    }

    @include mobile{
        padding: 12px 14px;
    }

}